body {
    --bottom-images: #E6E8E8;
    --primary-color: white;
    --secondary-color: gray;
    --dark-color: black;
    --link-color: #08A6FB;

    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    height: 200vh;
    margin: 0;
}

/* Navbar */
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 75px;
    padding: 10px;
    width: 100%;
    background-color: var(--primary-color);
    box-shadow: 1px 1px 15px 5px #666666;
}

/* Navbar logo */
#navbar img {
    width: 100px;
    float: right;
    padding: 10px;
    padding-right: 40px;
    margin: -2%;
}

#navbar img:hover {
    opacity: 80%;
}

/* Navbar open menu */
#navbar button {
    position: fixed;
    z-index: 999;
    font-size: 55px;
    height: 50px;
    width: 50px;
    background: none;
    border: 0px;
    padding: 5px;
}

#navbar button:hover {
    opacity: 80%;
}

/* Sidebar */
.sidebar {
    height: 300px;
    width: 0px;
    position: fixed;
    top: 15%;
    left: 0%;
    background-color: var(--primary-color);
    box-shadow: 1px 0px 15px 1px lightgray;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

/* Sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    margin: 10px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    z-index: 1000;
}

.sidebar a:hover {
    opacity: 80%;
    text-decoration: underline;
}

#modal {
    display: none;
    position: fixed;
    top: 5%;
    left: 30%;
    z-index: 9999999;
    width: 500px;
    height: 100%;
    overflow: auto;
}

#modal-content {
    text-align: center;
    background-color: white;
    margin: 15% auto;
    border: 1px solid black;
}

#modal-content h1 {
    font-weight: 500;
}

#modal-content h3 {
    font-weight: 500;
    font-size: 15px;
    padding: 5px;
}

#close {
    color: black;
    float: right;
    font-size: 25px;
    padding: 5px;
}

#close:hover {
    opacity: 80%;
    text-decoration: underline;
}

/* The content on top */
#top-text-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}

/* Text with the background */
#top-text-container h1 {
    position: sticky;
    color: var(--dark-color);
    background-color: var(--primary-color);
    font-size: 5vw;
    font-weight: bold;
    padding: 10px;
    width: 35%;
    height: 70px;
    letter-spacing: 5px;
    mix-blend-mode: screen;
    text-transform: uppercase;
    margin-top: 150px;
}

/* Button (Sends to instagram)*/
#top-text-container button {
    font-size: 15px;
    font-weight: 500;
    width: 150px;
    height: 60px;
    background-color: white;
    border: 0px solid black;
    transition: 0.5ms ease-in-out;
    border-radius: 10px;
    position: absolute;
    top: 80%;
}

/* Text in the button */
#top-text-container a {
    text-decoration: none;
    color: black;
}

#top-text-container a:hover {
    text-decoration: underline;
    color: black;
}

/* Big image behind */
#top-text-container img {
    width: 100%;
    height: 700px;
    position: absolute;
    top: 11%;
    left: 0;
    z-index: -2;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

/* Middle content (4 images)*/
#middle-container {
    margin-top: 500px;
}

#middle-content {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 200px;
    border: 0px solid black;
}

/* The text for images */
#middle-content p {
    font-size: 15px;
    max-width: 300px;
    margin-left: 30px;
    margin-top: -15px;
}

/* Images */
#middle-content img {
    width: 250px;
    height: 400px;
    margin: 30px;
}

/* Describing card one */
#container-one {
    background-color: var(--bottom-images);
    width: 1185px;
    height: 500px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
}

#container-one img {
    height: 500px;
    width: 850px;
}

#container-one h1 {
    float: right;
    font-size: 25px;
    margin-right: 30px;
    margin-top: 50px;
}

#container-one ul {
    float: right;
    margin-top: -200px;
    margin-right: 150px;
    font-size: 15px;
}

#container-one li {
    padding: 8px 8px 8px 32px;
}

/* Describing card two */
#container-two {
    background-color: var(--bottom-images);
    width: 1185px;
    height: 500px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
}

#container-two img {
    height: 500px;
    width: 850px;
    margin-left: 334px;
}

#container-two h1 {
    float: left;
    font-size: 25px;
    margin-left: 130px;
    margin-top: -400px;
}

#container-two h3 {
    float: left;
    font-size: 15px;
    max-width: 200px;
    margin-top: -150px;
    margin-left: 90px;
    font-weight: 500;
}

/* Describing card three */
#container-three {
    background-color: var(--bottom-images);
    width: 1185px;
    height: 500px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-top: 25px; 
}

#container-three img {
    height: 500px;
    width: 850px;
}

#container-three h1 {
    float: right;
    font-size: 25px;
    margin-right: 30px;
    margin-top: 50px;
}

#container-three h3 {
    float: right;
    font-size: 15px;
    margin-top: -140px;
    margin-right: 30px;
    font-weight: 500;
}

/* Content at the bottom */
#footer {
    display: flex;
    justify-content: center;
    margin: 0%;
    background-color: lightgray;
    width: 100%;
    height: 200px;
}

/* Kontakta oss */
#kontakt {
    margin-left: 20px;
    margin-top: 25px;
}

#kontakt h1 {
    margin: 0;
}

#kontakt ul {
    font-size: 15px;
    text-decoration: none;
    list-style-type: circle;
}

#kontakt li {
    margin-left: -20px;
    padding: 5px;
}

/* Media */
#media {
    margin-left: 250px;
}

#media a {
    text-decoration: underline;
    color: black;
}

#media a:hover {
    opacity: 80%;
}

/* Logo */
#footer-logo {
    margin-left: 400px;
}

#footer-logo img {
    width: 180px;
}